@model ForgotPasswordViewModel;

@{
    ViewBag.Title = "Forgot password";
}

<h1>Forgot password</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
