

@{
    ViewBag.Title = "Send Email";
}

<h1>Send Email</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    
    <div>
        <button type="submit" class="btn btn-primary">Send Email</button>
    </div>
</form>