.login {
    padding:100px;
    margin: auto;
    background-color:lavender;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}
.exlogin {
    padding: 0px;
    border:double;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.imageFormat {
    width: auto;
    height: 300px;
}
