@model EmployeeEditViewModel;

@{
    ViewBag.Title = "Edit Employee";
    var imgPath = "~/images/" + (Model.ExistingPhotoPath ?? "sara.jpg");
}
<div asp-validation-summary="All" class="text-danger"></div>
<form enctype="multipart/form-data" asp-action="edit" asp-controller="home" method="post" class="mt-3">
    <input hidden asp-for="Id" />
    <input hidden asp-for="ExistingPhotoPath" />
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name : </label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label">Email : </label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select class="custom-select mr-sm-2" asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()">
                <option value="">Please select</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input" />
                <label class="custom-file-label">Change photo...</label>
            </div>
        </div>
    </div>
    <div class="form-group row col-sm-4 offset-4">
        <img asp-append-version="true" class="imageFormat" src="@imgPath" />
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary m-1">Update</button>
            <a asp-controller="home" asp-action="index"
               class="btn btn-primary m-1">Cancel</a>
        </div>
    </div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    console.log("find the input")
                    $(this).next('.custom-file-label').html(fileName);
                })
            });
        </script>
    }
</form>
