<div class="text-center">
    <h1 class="text-danger">
        Access Denied
    </h1>
    <h5 class="text-danger">
        You do not have permission to view this resource
    </h5>
    <img src="~/images/Stop_hand.svg.png" style="width:300px; height:300px" />
</div>