@model CreateRoleViewModel;

@{
    ViewBag.Title = "Create Role";
}
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="createrole" asp-controller="admin" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="RoleName" class="col-sm-2 col-form-label">Name : </label>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>

    <div>
        <button type="submit">Create</button>
    </div>
</form>

