<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h1>hi loy</h1>
    <div>
        <link rel="import" href="http://stackoverflow.com">
        <object data="http://stackoverflow.com" width="400" height="300" type="text/html">
            Alternative Content
        </object>
    </div>
</body>
</html>